Flask
Flask-SQLAlchemy==3.1.0
Flask-Migrate
SQLAlchemy
pandas
numpy
blinker==1.8.2
Werkzeug
gunicorn
azure-storage-blob
azure-identity==1.17.1
pyodbc==5.2.0
tenacity
requests
azure-monitor-opentelemetry
opencensus
opencensus-ext-azure


